body{
  background-image: url("images/bg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.outer{
  font-family: 'Paprika';
  width: 35%;
  padding: 30px;
  border: 10px solid #99FFFF;
  border-radius:10px;
  margin: auto;
  margin-top:200px;
  text-align: center;
  box-shadow: 5px 10px 8px #888888;
}
.pbutton{
  font-family: 'Paprika';
  font-size: 20px;
  box-shadow: 2px 5px 4px #888888;
  opacity: 0.6;
}
.pbutton:hover{
  background: yellow;
}
